body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 150px;
    background-color: skyblue;
}

.container {
    background-color: floralwhite;
    max-width: 500px;
    margin: 0 auto;
    padding: 100px;
    border: 10px solid orange;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
